@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

.container {
  max-width: 1100px;
  margin: auto;
}

/* Utility klasses.. den har klassess kommer jag använda de några gånger */
.btn {
  display: inline-block;
  padding: 15px 30px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.btn-primary {
  border: 1px solid #fff;
}

.btn-secondary,
.btn-third:hover {
  background: #383848;

}

.btn-primary:hover,
.btn-secondary:hover,
.btn-third {
  background: #fcaa3f;
}

.primary-text {
  color: #e4b95b;

}

/* Header börjar */
header {
  height: 100vh;
  background: url("img/background.jpg") center/cover no-repeat; /*den har är background bild*/
  position: relative;

 
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  
 
}

#navbar img {
  
  width: 140px;
  margin-left: 100px;
  border-radius: 100px;
  border-bottom-style:ridge;
 
}

nav ul {
  display: flex;
  margin-right: 100px;
}

nav ul li a {
  padding: 15px 25px;
  font-weight: 700;
}

nav ul li a:hover {
  border-bottom: 2px solid #e4b95b;    /* jag valt orang färg till hover för bottom*/
  border-radius: 70%;
}

header .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75%; /* det är för centralera text i center av bilden */
}

header::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0, 0.3); /* för att background bilden av pitzza blir lite mörkare*/
}

header .content h1 {
  font-size: 40px;
  color: #fff;
 
}

header .content p {
  color: #fff;
  margin: 20px 0 40px;
}

header * {
  z-index: 10;  /* för att pitzza bilder blir bakom text och för att färg av text ser fint ut  */
}

/* Header slut */


/* About börjar */

#about {
  height: 80vh;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about .title,
#offers .title,
#menu .title {
  text-align: center;
  margin-bottom: 4rem;
}

#about h2,
#offers h2,
#menu h2 {
  font-size: 40px;
  margin-bottom: 20px;
  justify-content:center;
  display: grid;
}

#about h2 {
  color: #383848;
}

#about .title p {
  font-weight: 600;
  font-size: 14px;
  color: #9a9a9a;
}

#about .about-content {
  display: flex;
  justify-content: space-between;
}

#about .about-content p {
  margin-right: 7rem;
  line-height: 1.6;
  color: #9a9a9a;
  font-weight: 500;
}

#about img {
  max-width: 500px;
  border-radius: 70px;
  display: flex;
}

#about .about-content a {
  margin-top: 2rem;
}
#menu img {
  max-width:300px;
  border-radius: 50px;
  display: grid;
  justify-content: center;
  align-items: center;
 
}
/* About slutar */

/* Offers Section börjar */
#offers {
  height: 80vh;
  background: url("img/dark\ background.jpg") center center/cover fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#offers h2 {
  color: #e4b95b;
}

#offers .title p {
  color: #fff;
  font-weight: 500;
}

#offers .offers-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

#offers .offers-items img {
  width: 200px;
}

#offers .offers-items h3 {
  font-size: 25px;
  color: #fff;
  margin: 15px 0;
}

#offers .offers-items p {
  color: #fff;
  font-size: 14px;
  padding: 0 20px;
  font-weight: 300;
  margin-bottom: 15px;
}

#offers .offers-items span {
  font-weight: 600;
  font-size: 18px;
  margin-left: 5px;
}
/* Offers Section slutar */

/* Menu Section börjar */

#menu {
  background: #f4f2ed;
  padding: 5rem 0;
}

#menu .title h2 {
  color: #383848;
}
#menu .title p {
  color: #9a9a9a;
  font-weight: 500;
}

#menu .menu-items {
  display: grid;
  justify-content: flex - end;
  align-items: center;
}

#menu .menu-items .menu-item {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

#menu .menu-items .menu-item img {
  width: 100px;
  margin-right: 20px;
  border-radius: 50%;
}

#menu .menu-items .menu-item h3 {
  color: #383848;
  border-bottom: 1px dashed #c2bdbd;
  padding-bottom: 10px;
  position: relative;
}

#menu .menu-items .menu-item span {
  position: absolute;
  right: 0px;
  top: 0;
}

#menu .menu-items .menu-item p {
  margin-top: 20px;
}

#menu .btn {
  display: block;
  margin: auto;
  border: none;
  margin-top: 30px;
}
/* Menu Section slut */

/* Daytime section börjar */
#daytime {
  background: url("img/daytime_bg.jpeg") center center/cover fixed no-repeat;
  color: #fff;
  text-align: center;
}

#daytime .daytime-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 40vh;
}

#daytime .daytime-items h3 {
  font-size: 32px;
  margin: 20px 0 10px;
}

#daytime .daytime-items p {
  font-weight: 500;
}
/* Daytime section slutar */

/* Gallery section börjar */
#gallery {
  background: url("img/dark\ background.jpg") center center/cover;
  padding: 8rem 0 6rem;
}
#gallery h2 {
  font-size: 40px;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

#gallery .img-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#gallery .img-gallery img {
  margin: 30px;
  width: 280px;
  height: 200px;
  border-radius: 15px;
  opacity: 0.7;
}

#gallery .img-gallery img:hover {
  opacity: 2;
}


#contact {
  background: #f4f2ed;
  padding: 5rem 0;
}

#contact .container {
  max-width: 900px;
}

#contact .contact-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#contact .contact-info {
  width: 50%;
}

#contact .contact-info div {
  margin: 30px 0;
  line-height: 1.7;
}

#contact .contact-info h3 {
  font-size: 28px;
  color: #383848;
  margin-bottom: 10px;
}

#contact .contact-info p {
  color: #9a9a9a;
}

#contact .contact-info p i {
  color: #e4b95b;
  margin-right: 5px;
}

#contact .contact-info a i {
  color: #fff;
  background: #383848;
  padding: 10px;
  font-size: 20px;
  border-radius: 50%;
  background-color: rgb(237, 177, 47);
}

#contact .contact-info a i:hover {
  background-color: #e4b95b;
  color: #383848;
}

form {
  width: 50%;
}

form input,
textarea {
  display: block;
  width: 100%;
  padding: 20px 15px;
  margin: 20px 0;
  border: none;
  background-color: #e3e2dd;
}

form input:focus,
textarea:focus {
  outline: none;
}

form button {
  color: #fff;
}

/* Contact Section slultar */

/* Footer börjar */
#footer {
  background-color: #121f15;
  text-align: center;
  color: #fff;
  padding: 15px 0;
  font-size: 14px;
}
/* Footer slutar */

/* Lyhördhet och fungerar i olika enhet  */

/* för Medium Screen + Tablet + ipad */
@media (max-width: 1000px) {
  #navbar img {
    margin-left: 20px;
  }

  nav ul {
    margin-right: 20px;
  }

  nav ul li a {
    padding: 10px;
  }

  header .content h1 {
    font-size: 28px;
  }

  #about {
    height: auto;
    padding: 4rem 2rem;
  }

  #about .about-content p {
    margin-right: 2rem;
  }

  #about img {
    width: 250px;
  }

  #offers .offers-items img {
    width: 150px;
  }

  #offers .offers-items h3 {
    font-size: 18px;
  }

  #menu .menu-items {
    display: block;
  }

  #contact .contact-content {
    flex-direction: column;
  }

  /* för mobiler och tablet samt för datorer storlek */
  @media screen and(min-width:401px) and (max-width: 700px) {
    #navbar {
      flex-direction: column;
    }
   
    #navbar img {
      margin-bottom: 20px;
    }

    header .content h1 {
      font-size: 18px;
    }

    header .content p {
      font-size: 14px;
    }

    #about .about-content {
      flex-direction: column;
    }

    #about .about-content a {
      margin: 2rem 0;
    }

    #about img {
      display: none;
    }

    #offers {
      height: auto;
      padding: 30px 10px;
    }

    #offers .offers-items {
      flex-direction: column;
    }

    #menu .menu-items .menu-item {
      margin: 20px 10px;
    }

    #daytime .daytime-items {
      display: block;
      height: auto;
      padding: 30px 0;
    }

    #daytime .daytime-items .daytime-item {
      margin-top: 20px;
    }

    #contact .contact-info,
    form {
      width: 80%;
    }
  }
}
/* en liten animation från right till left */
@keyframes move {
  0% { right: 0; }
  50% { right:50%; }
  100% { right: 100%; }
}

 footer{
  position: relative;
  animation: move 10s linear infinite; /* har är en liten animation för fotter jag vet inte om det är fint alla fall jag ligger den för bara vissa  */
}
